.contacts-block,
.contacts-content
{
  background-color: rgb(109,118,91);
  color: rgb(249, 228, 188);
  margin-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts-text
{
  padding-top: 0;
  margin: 0;
  flex: 1;
  padding-bottom: 0;
  margin-bottom: 100px;
}
.contacts-content
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.outer-imgs
{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gmail-info,
.linkedin-info
{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.gmail-link,
.linkedin-link
{
  color: rgb(249, 228, 188);
}

.gmail-img,
.linkedin-img
{
  width: 100%;
  max-width: 200px;
  margin-bottom: 0;
}

.decor1,
.decor2
{
  width: 150px;
  position: absolute;
}

.contact-decor
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.decor1
{
  margin: 0 -110px;
}
.decor2
{
  margin: 0 350px;
  transform: scaleX(-1); /* Flip image horizontally */
}