/* styles for all the links in this section*/
.project1-link,
.project2-link
{
  background-color: rgb(115,134,120);
  font-family:  Playfair Display;
  margin-left: 20px;
  padding: 15px;
  border-radius: 15px;
  color: rgb(249, 228, 188);
}
/* connects to above and ensures all links are on the same line and adjust to window size*/
.project-downloads
{
  display: flex;
  display: inline-block;
}


/*div covering whole cs200 section for grid styling*/
.CS136Project,
.CS200Project
{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  gap: 20px;
}
.CS136Project
{
  margin-top: 250px;
}
/*div for reference to link information to center*/
.reference2-div,
.reference-div
{
  text-align: center;
}
/*setting small font size for the information to link above*/
.referencelink2,
.referencelink1
{
  margin: 0;
  font-size: 20px;
}
/*all text elements of this project in this div*/
.CS136Project-txt-container,
.CS200Project-txt-container
{
  padding-right: 20px;
  text-align: center;

}
.project2-title,
.project1-title
{
  margin-bottom: 0;
  font-size: 35px;
}
.project2descrip-div,
.project1descrip-div
{
  padding-right: 5px;
  word-wrap: break-word;

}
.descrip-Project2,
.descrip-Project1
{
  font-size: 30px;
  font-weight: 500;
  font-family: Playfair Display;
  font-weight: 400;
  text-align: center;
}


/*starts the project grid div*/
.project-picsTotal2,
.project1-picsTotal
{
  display: grid;
  grid-template-rows: 1fr;
  
}
/* div to ensure pictures change size enough with the window */
.project2-pics,
.project1-pics
{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.projectCover
{
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.projectAlgo

{
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.projectCover2
{
  width: 100%;
  max-width: 800px;

}

.projectAlgo2
{
  flex: 1;
  width: 100%;
  max-width: 500px;
}


.projectCover,
.projectAlgo,
.projectCover2,
.projectAlgo2
{
  border: solid;
  border-width: 0;
  border-image: linear-gradient(to right, rgb(115,134,120),rgb(219,234,210)) 1;
  transition: border.15s;
}
.projectCover:hover,
.projectAlgo:hover,
.projectCover2:hover,
.projectAlgo2:hover
{
  border-width: 3px;
}